<%- include('./comp/header.ejs') %>
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
        <img src="<%- BaseUrl + '/static/logo.svg' %>" width="110" height="32" alt="Tabler" class="navbar-brand-image" />
      </a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Sign up to your account</h2>
        <form onsubmit="return false" method="post" autocomplete="off" validate>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input name="name" type="text" class="form-control" placeholder="Your name" autocomplete="off" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Mobile</label>
            <input name="mobile" type="text" class="form-control" placeholder="Your mobile" autocomplete="off" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" placeholder="your@email.com" autocomplete="off" required />
          </div>
          <div class="mb-2">
            <label class="form-label">Password</label>
            <div class="input-group input-group-flat">
              <input name="password" type="password" class="form-control" placeholder="Your password" autocomplete="off" />
              <span class="input-group-text">
                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                  <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                  </svg>
                </a>
              </span>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-check">
              <input type="checkbox" class="form-check-input" />
              <span class="form-check-label">Remember me on this device</span>
            </label>
          </div>
          <div class="form-footer">
            <button onclick="signUp(this , event)" type="button" class="btn btn-primary w-100">Sign up</button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center text-secondary mt-3">
      Don't have account yet?
      <a href="<%- BaseUrl + '/auth' %>" tabindex="-1">Sign In</a>
    </div>
  </div>
</div>

<%- include('./comp/script.ejs') %>

<script>
  $(document).ready(function () {});

  // Performs a login request using AJAX to the "/login" endpoint with the provided
  // @param {element} e - The element that triggered  the function.
  // @param {Event} event - The event that triggered the function.
  // @returns {void}
  function signUp(e, event) {
    event.preventDefault();

    $.ajax({
      url: "/api/register",
      method: "POST",
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      beforeSend: function (xhr) {
        $(e).html("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Loading");
      },
      complete: function (xhr, status) {
        $(e).html("Sign up");
      },
      data: JSON.stringify({
        username: $("input[name=name]").val(),
        mobileNumber: $("input[name=mobile]").val(),
        email: $("input[name=email]").val(),
        password: $("input[name=password]").val(),
      }),
      success: function (response) {
        // handle successful login response
        myToast("Signup successful", { icon: { type: "success" } });

        setInterval(() => {
          window.location.href = "auth";
        }, 2000);
      },
      statusCode: {
        400: function (xhr, status, error) {
          console.log(xhr.responseJSON.messages[0]);

          $.each(xhr.responseJSON.messages[0], function (key, value) {
            myToast(value[0], { icon: { type: "error" } });
          });

          $(e).html("Sign up");
        },
        500: function (xhr, status, error) {
          myToast(xhr.responseJSON.message, { icon: { type: status } });
          $(e).html("Sign up");
        },
      },
    });
  }
</script>

<%- include('./comp/footer.ejs') %>
