<%- include("../../comp/header.ejs") %>

<div class="container-xl">
  <div class="card">
    <div class="card-body">
      <div id="table-default" class="table-responsive">
        <!-- Creating Datatable server side rendering -->
        <table id="datatable" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><button  class="table-sort" data-sort="sort-name">Username</button></th>
              <th><button  class="table-sort" data-sort="sort-email">Email</button></th>
              <th><button  class="table-sort" data-sort="sort-role">Role</button></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("../../comp/footerbar.ejs") %>
<!-- script -->
<%- include("../../comp/script.ejs") %>
<script>
  $(document).ready(function () {
    $("#datatable").DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "<%- BaseUrl %>/api/users",
        type: "GET",
        dataType: "json",
        error: function (xhr, status, error) {
          myToast(xhr.responseJSON.messages, { icon: { type: status } });
        },
      },
      columns: [
        { data: "username" },
        { data: "email" },
        { data: "role" },
        {
          data: "actions",
          render: function (data, type, row, meta) {
            return `
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-danger">Inactive</button>
              </div>
            `;
          },
        },
      ],
    });
  });
</script>
<%- include("../../comp/footer.ejs") %>
